.Notification {
    $this:&;
    border-radius: 16px;
    padding: 30px;
    background-color: transparent;
    display: flex;
    align-items: center;

    &--type {
        &-error {
            background-color: rgba(253, 212, 215, 0.8);
            color: #F32738;

            #{$this}__close {
                color: #F32738;
            }
        }
        &-info {
            background-color: #293553;
            color: #ffffff;

            #{$this}__action {
                color: #98C4FF;
            }
            #{$this}__close {
                color: #98C4FF;
            }
        }
        &-warning {
            background-color: #E89902;
        }
        &-success {
            background-color: #21A038;
        }
    }

    &__close {
        margin-left: 20px;
        cursor: pointer;
    }
}
