.Notification {
  $this:&;

  align-items: center;
  background-color: transparent;
  border-radius: 16px;
  display: flex;
  padding: 30px;

  &--type {
    &-error {
      background-color: rgba(253, 212, 215, 0.8);
      color: #f32738;

      #{$this}__close {
        color: #f32738;
      }
    }

    &-info {
      background-color: #293553;
      color: #fff;

      #{$this}__action {
        color: #98c4ff;
      }
      #{$this}__close {
        color: #98c4ff;
      }
    }

    &-warning {
      background-color: #e89902;
    }

    &-success {
      background-color: #21a038;
    }
  }

  &__close {
    cursor: pointer;
    margin-left: 20px;
  }
}
