# IDEs
.idea/
idea/

# Folders
.husky
build/
dist/
node_modules/
public/
configs

# Extensions
*.css
*.scss
*.styl

# Logs
*.log
*.tsbuildinfo

# Enviroments
.env
.env.*

# Cache
.stylelintcache

# Configs
.eslintrc.js
*.config.js

# Unknown
.DS_Store