{
  "extends": [
    "react-app",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "useTabs": false,
        "printWidth": 80
      }
    ],
    "max-lines": [
      "error",
      {
        "max": 300,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "no-debugger": "off",
    "no-console": 0,
    "comma-dangle": ["error", "always-multiline"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "plugins": [
    "prettier"
  ]
}
