{
  "plugins": [
    "@typescript-eslint", // npm module "@typescript-eslint/eslint-plugin"
    "prettier", // npm module "eslint-config-prettier"
    "import" // npm module "eslint-plugin-import"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier", // npm module "eslint-config-prettier"
    "prettier/@typescript-eslint",
    "plugin:import"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "useTabs": false,
        "printWidth": 80
      }
    ],
    "max-lines": [
      "error",
      {
        "max": 300,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    "no-debugger": "off",
    "no-console": 0
  }
}