# ides
.idea
.vscode

# envs
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .MD
*.md

# folders
.storybook
node_modules
./configs
./scripts
./src
./stories

# files
.babelrc
.eslintignore
.eslintrc.js
.gitignore
.npmignore
package-lock.json
tsconfig.json
webpack.config.ts

# unknown
.DS_Store