$padding: 8px;

@mixin buttonIcon {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 0;
}

.Button {
  align-items: center;
  background: #0083ff;
  border: 2px solid #0083ff;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  outline: none;
  padding: $padding;
  position: relative;
  width: auto;

  &--isSecondary {
    background: transparent;
    color: #0083ff;
  }

  &--isDisabled {
    opacity: 0.7;
  }

  &__icon {
    &--left {
      margin-right: 8px;
    }

    &--right {
      margin-left: 8px;
    }
  }

  &--isFullWidth {
    width: 100%;

    .Button {
      &__icon {
        &--left {
          @include buttonIcon;

          left: $padding;
        }

        &--right {
          @include buttonIcon;

          right: $padding;
        }
      }
    }
  }

  &__text {
    font-size: 15px;
  }
}
