$padding: 8px;

@mixin buttonIcon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.Button {
    align-items: center;
    background: #0083ff;
    border-radius: 12px;
    border: 2px solid #0083ff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    justify-content: center;
    outline: none;
    padding: $padding;
    position: relative;
    width: auto;
    display: flex;
    
    &--isSecondary {
        color: #0083ff;
        background: transparent;
    }

    &--isDisabled {
        opacity: 0.7;
    }

    &--isFullWidth {
        width: 100%;
        
        .Button {
            &__icon {
                &--left {
                    @include buttonIcon;
                    left: $padding;
                }
                &--right {
                    @include buttonIcon;
                    right: $padding;
                }
            }
        }
    }

    &__icon {
        &--left {
            margin-right: 8px;
        }
        &--right {
            margin-left: 8px;
        }
    }

    &__text {
        font-size: 15px;
    }
}