$icon-space: 30px;
$horizontal-padding: 12px;

@mixin TextareaText {
  color: #293553;
  font-size: 15px;
  line-height: 20px;
}

.Textarea {
  @include TextareaText;

  background: transparent;
  border: none;
  border-bottom: 1px solid #d2dee3;
  box-sizing: border-box;
  height: auto;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding-bottom: 8px;
  resize: none;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 26px;
    position: relative;
    width: auto;

    &--isFullWidth {
      width: 100%;
    }
  }

  &__label {
    @include TextareaText;

    position: absolute;
    top: 26px;
    transition: top 0.3s, color 0.3s, font-size 0.6s;

    &--isVisibleLabel {
      color: #77838b;
      font-size: 12px;
      line-height: 16px;
      top: 0;
    }
  }

  &__error {
    color: #f32738;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 8px;
  }
}
