.SelectDropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 160px;
  background: #18182E;
  border: 1px solid #05051D;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 8px;
}