.SliderThumb {
  background-color: #18182e;
  border-radius: 50%;
  height: 16px;
  transform: translate(6px, -6px);
  width: 16px;
  z-index: 2;

  &--isMobile {
    background: transparent;
  }

  &:last-child {
    transform: translate(-10px, -6px);
  }

  &__tooltip {
    align-items: center;
    background: #18182e;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    min-height: 32px;
    min-width: 60px;
    position: relative;
    transform: translate(-22px, -52px);

    &--isMobile {
      display: none;
    }

    &::before {
      background: #18182e;
      bottom: -6px;
      content: '';
      height: 12px;
      left: 50%;
      position: absolute;
      transform: translateX(-6px) rotate(45deg);
      width: 12px;
    }
  }
}

@media (max-width: 1024px) {
  .SliderThumb {
    &:last-child {
      transform: translate(-8px, -6px);
    }

    &__tooltip {
      display: none;
      &--isMobile {
        display: flex;
        min-width: 115px;
        transform: translate(-60px, -52px);
      }
    }
  }
}
