$icon-space: 30px;
$horizontal-padding: 12px;

.Input2 {
  background: #05051D;
  border-radius: 4px; 
  border: 1px solid #05051D;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  height: 40px;
  line-height: 14px;
  outline: none !important;
  padding: 12px 6px 12px 6px;
  width: 100%;

  &--withLeftIcon {
    padding-left: 30px;
  }
  &--withRightIcon {
    padding-right: 30px;
  }

  &:focus {
    box-shadow: 0 0 6px 0px #ff80e8 !important;
    border: 1px solid #ff80e8 !important;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }
  
  &__icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    &--withLeftIcon {
      left: $horizontal-padding;
    }
    &--withRightIcon {
      right: $horizontal-padding;
    }
  }
}