.Button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px;
    border-radius: 8px;

    &--black {
        background: #05051D !important;
    }

    &--grey-dark {
        background: #18182E !important;
    }
    
    &--pink {
        background: #FF00D0 !important;
    }
}