.Checkbox {
  &__input {
    display: none;
  }

  &__icon-wrapper {
    align-items: center;
    border: 2px solid #97a9ce;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 20px;
    justify-content: center;
    transition: background-color 0.3s, border 0.3s;
    width: 20px;

    &--isChecked {
      background-color: #5a4686;
      border: none;
    }
  }

  &__icon {
    color: #fff;
  }
}
