.SelectButton {
  align-items: center;
  background: #05051D;
  border-radius: 8px;
  border: none;
  color: #fff;
  display: flex;
  height: 40px;
  padding: 10px 12px;
  position: relative;
  width: 160px;
  justify-content: space-between;

  &__text {
    display: flex;
    width: calc(100% - 32px);
  }

  &__arrow {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 20px;

    &--isOpen {
      transform: rotate(180deg);
    }
  }
}