.Overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-overlay;

  &--withOpacity {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &--isAbsolute {
    position: absolute;
  }

  &--isTransparent {
    background-color: transparent;
  }
}
