.Drop {
  position: relative;

  &__control-wrapper {
    background: none;
    border: none;
    outline: none;
    padding: 0;
  }

  &__dropdown-wrapper {
    background-color: transparent;
    position: absolute;
    width: auto;
    z-index: 10000;
  }
}
